.modalcontainer {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

/* .modalcontainer .picbox ? */ 
.picbox {
  margin: auto; 
  /* padding: 5px 5px 5px 5px; */
  width: 92%;
  height: 92%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  object-fit: cover;
  background-size : cover;
  /* background-image: url(${preview}); */
}
/* object-fit: cover; */

.head {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.spotname {
  position: absolute;
  /* display: flex; */
  /* flex-direction: column; */
  top: 17px;
  left: 17px;
  background-color: transparent;
  /* color: white; */
  color: white;
  font-size: 15px;
  padding-left: 5px;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 17px;
  width: 17px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  object-fit: cover;
  background-size : cover;
  background: url('https://i.postimg.cc/sXBKhhbJ/overlay-close.png');
}

.center {
  height: 120px
}

.bottomiconbox {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.likeicon {
  position: absolute;
  bottom: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  border: none;
  object-fit: cover;
  background-size : cover;
  background-color: transparent;
  background: url('https://i.postimg.cc/nhPDQPx6/heart-pink.png');
}

