.hoverDark {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.PostFont {
  font-size: 0.8vw;
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hoverDark:hover {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 1;
}
